# Required library
Sphinx==6.1.3
sphinx-autobuild==2021.3.14
# Docs template
http://graphene-python.org/sphinx_graphene_theme.zip
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
